<section class="athletes">
  <div class="container">
    <h2 class="athletes__title">OUR athletes</h2>
    <ul class="athletes__list">
      <li class="athletes__item">
        <h3 class="athletes__subtitle">Mike JOHNSON</h3>
        <button type="button" class="athletes__btn">See More</button>
      </li>
      <li class="athletes__item">
        <h3 class="athletes__subtitle">Tom WARD</h3>
        <button type="button" class="athletes__btn">See More</button>
      </li>
      <li class="athletes__item">
        <h3 class="athletes__subtitle">Emma Gray</h3>
        <button type="button" class="athletes__btn">See More</button>
      </li>
    </ul>
  </div>
</section>
