<section class="categories">
  <div class="container">
    <h2 class="categories__title">pick your sport</h2>
    <p class="categories__description">
      Join these athletes in your journey to play college sports. Lorem dolor
      sit amet, consectetur adpiscing elit.
    </p>
    <ul class="categories__list">
      <li class="categories__item">
        <div class="categories-slider-box">
          <ul class="categories-photo-slider__list">
            <li class="categories-photo-slider__item"></li>
            <li class="categories-photo-slider__item"></li>
            <li class="categories-photo-slider__item"></li>
            <li class="categories-photo-slider__item"></li>
            <li class="categories-photo-slider__item"></li>
          </ul>
          <ul class="categories-slider-bullet__list">
            <li class="categories-slider-bullet__item"></li>
            <li class="categories-slider-bullet__item"></li>
            <li class="categories-slider-bullet__item"></li>
            <li class="categories-slider-bullet__item"></li>
            <li class="categories-slider-bullet__item"></li>
          </ul>
        </div>
        <h3 class="categories-card__title">MEN’S SOCCER</h3>
        <p class="categories-card__description">
          Seamlessly work with your partners, vendors.
        </p>
        <button type="button" class="categories-card__btn">Start here</button>
      </li>
      <li class="categories__item">
        <div class="categories-slider-box">
          <ul class="categories-photo-slider__list">
            <li class="categories-photo-slider__item"></li>
            <li class="categories-photo-slider__item"></li>
            <li class="categories-photo-slider__item"></li>
            <li class="categories-photo-slider__item"></li>
            <li class="categories-photo-slider__item"></li>
          </ul>
          <ul class="categories-slider-bullet__list">
            <li class="categories-slider-bullet__item"></li>
            <li class="categories-slider-bullet__item"></li>
            <li class="categories-slider-bullet__item"></li>
            <li class="categories-slider-bullet__item"></li>
            <li class="categories-slider-bullet__item"></li>
          </ul>
        </div>
        <h3 class="categories-card__title">MEN’S SOCCER</h3>
        <p class="categories-card__description">
          Seamlessly work with your partners, vendors.
        </p>
        <button type="button" class="categories-card__btn">Start here</button>
      </li>
      <li class="categories__item">
        <div class="categories-slider-box">
          <ul class="categories-photo-slider__list">
            <li class="categories-photo-slider__item"></li>
            <li class="categories-photo-slider__item"></li>
            <li class="categories-photo-slider__item"></li>
            <li class="categories-photo-slider__item"></li>
            <li class="categories-photo-slider__item"></li>
          </ul>
          <ul class="categories-slider-bullet__list">
            <li class="categories-slider-bullet__item"></li>
            <li class="categories-slider-bullet__item"></li>
            <li class="categories-slider-bullet__item"></li>
            <li class="categories-slider-bullet__item"></li>
            <li class="categories-slider-bullet__item"></li>
          </ul>
        </div>
        <h3 class="categories-card__title">MEN’S SOCCER</h3>
        <p class="categories-card__description">
          Seamlessly work with your partners, vendors.
        </p>
        <button type="button" class="categories-card__btn">Start here</button>
      </li>
    </ul>
    <p class="categories-scholarship__text">
      See if you qualify for a scholarship
    </p>
  </div>
</section>
