<div class="degree">
  <div class="container">
    <h2 class="degree__title">GET YOUR COLLEGE DEGREE!</h2>
    <p class="degree__description">
      It’s not just sports. While you’re playing like a pro, you also start your
      pathway to earn a Bachelor’s degree in 4 years.Pick from over 200+ study
      programs to work towards your social career!
    </p>
    <div class="degree-block">
      <button type="button" class="degree__btn">
        Find out which schools are s good fit for you</button
      ><button type="button" class="degree__btn">Learn more</button>
    </div>
  </div>
</div>
