<section class="footsteps">
  <div class="container">
    <h2 class="footsteps__title">follow in the same footsteps</h2>
    <p class="footsteps__description">
      as these amazing players who are currently living the dream. Schedule a
      free introduction call
    </p>
    <form class="footsteps__form">
      <label class="footsteps__label">Your email address</label>
      <input type="text" class="footsteps__input" />
      <button type="submit" class="footsteps__btn">Sign in</button>
    </form>
  </div>
</section>
