<section class="hero">
  <div class="container">
    <div class="hero-block">
      <h1 class="hero__title">Your dream is our motivation</h1>
      <p class="hero__text">
        Play like a pro and get your degree. This is College SportsWelcome to
        the place to achieve your dream of studying and playing at an American
        university.
      </p>
      <div class="hero-box">
        <button type="button" class="hero__btn">Change your life now!</button>
        <button type="button" class="hero__btn">
          Qualify for a scholarship
        </button>
      </div>
    </div>
  </div>
</section>
