<section class="stories">
  <div class="container">
    <h2 class="stories__title">SUCCESS STORIES</h2>
    <ul class="stories__list">
      <li class="stories__item">
        <div class="stories-text-box">
          <p class="stories-box__subtitle">
            Lorem ipsum dolor sit amet, consectetur
          </p>
          <h3 class="stories-box__title">
            Lorem ipsum dolor sit amet, consectetur
          </h3>
          <p class="stories-box-description">
            “Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do
            eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim
            ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut
            aliquip ex ea commodo consequat. Duis aute irure dolor in
            reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla
            pariatur.”
          </p>
        </div>
        <div class="stories-box-img"></div>
      </li>
    </ul>
    <div class="stories-pagination-box"></div>
  </div>
</section>
