<section class="team">
  <div class="container">
    <h2 class="team__title">our team</h2>
    <p class="team__description">
      We are athletes ourselves who came to the US on a scholarsihp lorem ipsum
      dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor
      incididunt ut labore et dolore magna aliqua.
    </p>
    <button type="button" class="team__btn">Learn more</button>

    <ul class="team__list">
      <li class="team__item"><img src="" alt="team member photo" /></li>
      <li class="team__item"><img src="" alt="team member photo" /></li>
      <li class="team__item"><img src="" alt="team member photo" /></li>
    </ul>
  </div>
</section>
